body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    margin: 1vh 0;
}

h1 {
    text-align: center;
}